/*
        清除浏览器默认样式,让所有的标签在浏览器默认情况下显示一致
*/

body,ul,li,ol,dl,dt,dd,div,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
/*定义版心*/
.w{
    width: 1100px;
    margin: 0 auto;
}

a{
    text-decoration: none; /*清除下划线*/
    cursor: pointer;
}
/*li标签的小圆点*/
ul li{
    list-style: none;
}

img{
    border: 0 none; /*在ie低版本中会有一个默认的1px边框*/
}
/*清除浮动*/
.clearfix:after{
    content: ".";
    height: 0;
    line-height: 0;
    display: block;
    /*隐藏占位置*/
    visibility: hidden;
    clear: both;
}
.clearfix{
    zoom: 1;
}
/*主题*/
body{
    font-size: 15px;
    font-family: STKaiti,KaiTi_GB2312,”华文楷体”,”宋体”，Arial,”Heivetica”;
    background: #f1f2f6;
}
@keyframes fn {
    0% {
        transform: scale(1.2, 0.8);
    }
    1% {
        transform: scale(1.18, 0.82);
    }
    2% {
        transform: scale(1.16, 0.84);
    }
    3% {
        transform: scale(1.13, 0.87);
    }
    4% {
        transform: scale(1.1, 0.9);
    }
    5% {
        transform: scale(1.07, 0.93);
    }
    6% {
        transform: scale(1.04, 0.96);
    }
    7% {
        transform: scale(1.01, 0.99);
    }
    8% {
        transform: scale(0.99, 1.01);
    }
    9% {
        transform: scale(0.97, 1.03);
    }
    10% {
        transform: scale(0.95, 1.05);
    }
    11% {
        transform: scale(0.94, 1.06);
    }
    12% {
        transform: scale(0.93, 1.07);
    }
    13% {
        transform: scale(0.93, 1.07);
    }
    14% {
        transform: scale(0.93, 1.07);
    }
    15% {
        transform: scale(0.93, 1.07);
    }
    16% {
        transform: scale(0.94, 1.06);
    }
    17% {
        transform: scale(0.94, 1.06);
    }
    18% {
        transform: scale(0.95, 1.05);
    }
    19% {
        transform: scale(0.96, 1.04);
    }
    20% {
        transform: scale(0.98, 1.02);
    }
    21% {
        transform: scale(0.99, 1.01);
    }
    22% {
        transform: scale(1, 1);
    }
    23% {
        transform: scale(1, 1);
    }
    24% {
        transform: scale(1.01, 0.99);
    }
    25% {
        transform: scale(1.02, 0.98);
    }
    26% {
        transform: scale(1.02, 0.98);
    }
    27% {
        transform: scale(1.02, 0.98);
    }
    28% {
        transform: scale(1.03, 0.97);
    }
    29% {
        transform: scale(1.03, 0.97);
    }
    30% {
        transform: scale(1.02, 0.98);
    }
    31% {
        transform: scale(1.02, 0.98);
    }
    32% {
        transform: scale(1.02, 0.98);
    }
    33% {
        transform: scale(1.02, 0.98);
    }
    34% {
        transform: scale(1.01, 0.99);
    }
    35% {
        transform: scale(1.01, 0.99);
    }
    36% {
        transform: scale(1.01, 0.99);
    }
    37% {
        transform: scale(1, 1);
    }
    38% {
        transform: scale(1, 1);
    }
    39% {
        transform: scale(1, 1);
    }
    40% {
        transform: scale(0.99, 1.01);
    }
    41% {
        transform: scale(0.99, 1.01);
    }
    42% {
        transform: scale(0.99, 1.01);
    }

    43% {
        transform: scale(0.99, 1.01);
    }
    44% {
        transform: scale(0.99, 1.01);
    }
    45% {
        transform: scale(0.99, 1.01);
    }
    46% {
        transform: scale(0.99, 1.01);
    }
    47% {
        transform: scale(0.99, 1.01);
    }
    48% {
        transform: scale(0.99, 1.01);
    }
    49% {
        transform: scale(1, 1);
    }

}

/*返回顶部*/

.scroll_top{
    width: 88px;
    height: 160px;
    position: fixed;
    right: 50px;
    bottom: 158px;
    display: none;
    /*background-color: red;*/
}
.scroll_top .top{
    width: 52px;
    height: 51px;
    margin: 0 auto;
    border-radius: 50%;
    /*background-color: yellow;*/
    background: url("../images/scroll_top_bg.png") no-repeat left top;
}
.scroll_top .bottom{
    width: 100%;
    height: 87px;

    position: absolute;
    right:0;
    bottom:0;
    background: url("../images/fixed_contactus.png") right top;
}
.scroll_top .top:hover{
    background-position: 0 bottom;
    animation: fn 1s;
}
.scroll_top .bottom:hover{
    width: 235px;
    animation: fn 1s;
    transition: width  1s;
}

