
/*底部样式*/

.footer {
    width: 100%;
    height: 344px;
    z-index: 1;
    background: url("../images/yinyue_bg.jpg") no-repeat left top;
}
.footer .top{
    height: 260px;
    /*background-color: red;*/
    border-bottom: 2px dashed #9890A2;
    position: relative;
}
.footer .top .music{
    width: 556px;
    height: 58px;
    position: absolute;
    top: 50%;
    left:50%;
    margin-left: -278px;
    margin-top: -29px;
    /*background-color: pink;*/
}
.footer .top .music span{
    display: inline-block;
    width: 57px;
    height: 57px;
    margin-right: 22px;
    /*background-color: yellow;*/
    border-radius: 50%;
}
.footer .top .music span.music07{
    margin-right: 0;
}
 div.footer div.top div.music span:hover {
    background-position: 0px -57px !important;
     animation: fn 1s !important;
}
.footer .bottom{
    height: 49px;
    line-height: 80px;
    font: 17px "华文楷体";
    text-align: center;
    color: #ffffff;
    padding-top: 31px;
}




